/* ===== DEFINE FONTS ===== */

@font-face {
  font-family: Norwester;
  src: url("../fonts/norwester.otf") format("opentype");
  /* Font by Jamie Wilson at https://www.fontsquirrel.com/fonts/norwester */
}

html {
  font-size: 62.5%;
  /* Set font size to 62.5% so that 1rem = 10px for initial designing (16px / 62.5 === 10) */
  /* Original inspiration for this from Jonas Schmedtmann CSS course on Udemy */
}

/*  ===== CSS BASE / RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}

/* ===== DEFINE COLOR VARIABLES ===== */
:root {
  --color-primary: rgb(41, 92, 71);
  --color-primary-fade: rgba(41, 92, 71, 0.7); /* For title in hero image */
  --color-secondary: rgb(246, 176, 64);
  --color-white: #f8f8f8;
}

/* ===== NAVBAR ===== */

nav {
  position: fixed;
  background-color: var(--color-primary);
  width: 100%;
  height: 10vh;
  z-index: 100;
}

#nav-links {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
}
#nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding: 0 0.5rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--color-white);
  outline: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--color-secondary);
}

#logo {
  position: absolute;
  width: auto;
  padding: 1rem;
  height: 10vh;
  top: 0;
  left: 0;
}

/* ===== HEADER ===== */

header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#header-img {
  background: url("../img/photos/photo-1.webp") no-repeat fixed center center; /* Image source Greg Rosenke at Unsplash -- https://unsplash.com/photos/jd4_-NCdLE4 */
  background-size: cover;
  width: 100%;
  height: 100%;
}

#title-block {
  position: absolute;
  padding: 2rem;
  background-color: var(--color-primary-fade);
  top: 60%;
  left: 0%;
  transform: translate(0, -50%) scale(1);
  z-index: 99;
  background-color: var(--color-primary-fade);
}
#title,
#subtitle {
  font-family: Norwester;
  letter-spacing: 0.2rem;
}
#title {
  font-size: 6rem;
  color: var(--color-secondary);
}
#subtitle {
  font-size: 2.7rem;
  padding: 1rem 0;
  color: var(--color-white);
}

/* ==== TYPOGRAPHY / HEADINGS ==== */

.heading {
  font-family: "Norwester", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.section-heading {
  font-size: 4rem;
  padding: 10rem 0 5rem 0;
  margin-top: -5rem;
  color: var(--color-primary);
}

.about-heading {
  font-size: 3rem;
  padding: 1.5rem 0;
  color: var(--color-secondary);
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  width: 90%;
  margin: auto;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin-bottom: 5rem;
}

.about-text {
  padding: 1rem;
}

.about-para {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--color-white);
}

.about-para p {
  padding: 1rem;
}
.about-picture {
  margin: 1rem;
  max-height: 250px;
  overflow: hidden;
}
.about-img {
  height: auto;
  width: 100%;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
